:root {
  --ijrc-light-bg: hsl(247, 5%, 95%);
  --ijrc-blue: hsl(247, 70%, 40%);
  --ijrc-light-blue: hsl(247, 70%, 50%);
  --ijrc-white: hsl(0, 0%, 99%);
  --ijrc-drop-shadow: hsla(0, 0%, 85%, 0.7);
  --ijrc-gray: hsl(0, 0%, 90%);
  --ijrc-darker-gray: hsl(0, 0%, 80%);
}

.ijrc-carousel-wrapper {
  max-width: 1000px;
  width: 100%;
  position: relative;
  margin: auto;

  & h1, & h2, & h3, & h4, & h5, & h6 {
    margin-top: 0;
  }

  & img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  & .flex {
    display: flex;
  }
  
  & .flex-wrap {
    flex-wrap: wrap;
  }

  & .gas {
    gap: 0.5rem;
  }

  & > div {
    position: relative;

    & .carousel-arrow {
      position: absolute;
      background: var(--ijrc-blue);
      box-shadow: 0 3px 6px var(--ijrc-drop-shadow);
      border: none;
      width: 3rem;
      height: 3rem;
      max-height: unset;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin: 0;
      padding: 0;
      top: calc(50% - 10px);
      transform: translateY(calc(-50% + 5px));

      &:active {
        background: var(--ijrc-light-blue);
      }

      &.left {
        left: -1.5rem;
      }

      &.right {
        right: -1.5rem;
      }
    }

    & .carousel {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: calc((100% / 3) - 12px);
      gap: 16px;
      overflow-x: auto;
      padding-bottom: 10px;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      scrollbar-width: none;
      flex: 1 1 38rem;

      &::-webkit-scrollbar {
        display: none;
      }

      &.dragging {
        scroll-snap-type: none;
        scroll-behavior: auto;
      }

      &.dragging .card {
        cursor: grab;
        user-select: none;
      }

      &.no-event .card {
        pointer-events: none;
      }

      &.no-transition {
        scroll-behavior: auto;
      }

      & .card {
        background: var(--ijrc-white);
        border-radius: 3px;
        min-height: 4rem;
        box-shadow: 0 2px 2px var(--ijrc-drop-shadow);
        padding: 20px;
        scroll-snap-align: start;

        &:hover {
          background: var(--ijrc-light-bg);
        }

        &.single-scroll {
          scroll-snap-stop: always;
        }
      }
    }
  }

  & .thumbs {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 2px;
    margin: 10px 0 20px;
    padding: 0;
    flex: 1 1 0%;
    flex-wrap: wrap;
    & li {
      flex: 1 1 12rem;
      & .thumb {
        background: var(--ijrc-light-bg);
        border: none;
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        max-height: unset;
        min-width: unset;
        height: 100%;
        padding: 10px;
        gap: 1rem;
        text-align: left;
        &.active {
          background-color: var(--ijrc-white);
          outline: 1px solid var(--ijrc-blue);
        }
        & span.thumb-img {
          width: 2rem;
          height: 2rem;
          flex: 0 0 auto;
          & img {
            width: 100%;
            height: 100%;
            border-radius: 3px;
            object-fit: cover;
            display: block;
          }
        }
      }
    }
  }

  & .dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    list-style: none;
    margin: 0;
    padding: 0;

    & li .dot {
      background: var(--ijrc-gray);
      border: 1px solid var(--ijrc-darker-gray);
      -webkit-appearance: none;
      appearance: none;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      max-height: unset;
      min-width: unset;
      padding: 0;
      &.active::before {
        content: '';
        background: var(--ijrc-blue);
        width: 0.8rem;
        height: 0.8rem;
        position: absolute;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .ijrc-carousel-wrapper .carousel {
    grid-auto-columns: 100% !important;
  }
}