:root {
  --ijrc-light-bg: hsl(247, 5%, 92%);
  --ijrc-blue: hsl(247, 70%, 40%);
  --ijrc-light-blue: hsl(247, 70%, 50%);
  --ijrc-white: hsl(0, 0%, 99%);
  --ijrc-drop-shadow: hsla(0, 0%, 85%, 0.7);
}

.ijrc-carousel-wrapper {
  max-width: 1000px;
  width: 100%;
  position: relative;
  margin: auto;

  & .carousel-arrow {
    position: absolute;
    background: var(--ijrc-blue);
    box-shadow: 0 3px 6px var(--ijrc-drop-shadow);
    border: none;
    width: 3rem;
    height: 3rem;
    max-height: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    top: calc(50% - 10px);
    transform: translateY(calc(-50% + 5px));

    & svg {
      fill: var(--ijrc-white);
    }

    &:active {
      background: var(--ijrc-light-blue);
    }

    &.left {
      left: -1.5rem;
    }

    &.right {
      right: -1.5rem;
    }
  }

  & .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    padding-bottom: 10px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &.dragging {
      scroll-snap-type: none;
      scroll-behavior: auto;
    }

    &.dragging .card {
      cursor: grab;
      user-select: none;
    }

    &.no-event .card {
      pointer-events: none;
    }

    &.no-transition {
      scroll-behavior: auto;
    }

    & .card {
      background: var(--ijrc-white);
      border-radius: 3px;
      min-height: 4rem;
      box-shadow: 0 2px 2px var(--ijrc-drop-shadow);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 15px;
      scroll-snap-align: start;

      &:hover {
        background: var(--ijrc-light-bg);
      }
    }

  }
}

@media only screen and (max-width: 600px) {
  .ijrc-carousel-wrapper .carousel {
    grid-auto-columns: 100% !important;
  }
}